<?xml version="1.0"?>
<config>
    <modules>
        <Meigee_Slides>
            <version>0.2.0</version>
        </Meigee_Slides>
    </modules>
    <global>
        <blocks>
            <meigee_slides>
                <class>Meigee_Slides_Block</class>
            </meigee_slides>
        </blocks>
        <helpers>
            <meigee_slides>
                <class>Meigee_Slides_Helper</class>
            </meigee_slides>
        </helpers>
        <models>
            <meigee_slides>
                <class>Meigee_Slides_Model</class>
                <resourceModel>slides_resource</resourceModel>
            </meigee_slides>
            <slides_resource>
                <class>Meigee_Slides_Model_Resource</class>
                <entities>
                    <slide>
                        <table>meigee_slides</table>
                    </slide>
                </entities>
            </slides_resource>
        </models>
        <resources>
            <slides_setup>
                <setup>
                    <module>Meigee_Slides</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slides_setup>
            <slides_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slides_write>
            <slides_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slides_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <Meigee_Slides>
                <use>standard</use>
                <args>
                    <module>Meigee_Slides</module>
                    <frontName>slides</frontName>
                </args>
            </Meigee_Slides>
        </routers>
        <layout>
            <updates>
                <meigee_slides>
                    <file>meigee/slides.xml</file>
                </meigee_slides>
            </updates>
        </layout>
    </frontend>
    <adminhtml>    
        <layout>
            <updates>
                <meigee_slides>
                    <file>meigee/slides.xml</file>
                </meigee_slides>
            </updates>
        </layout>
    </adminhtml>
   <admin>
        <routers>
             <adminhtml>
                 <args>
                     <modules>
                         <meigee_slides before="Mage_Adminhtml">Meigee_Slides_Adminhtml</meigee_slides>
                     </modules>
                 </args>
             </adminhtml>
        </routers>
    </admin>

    <!---->
    <default>
        <headerslider>
            <coin>
                <enabled>1</enabled>
                <onlyhome>1</onlyhome>
                <width>932</width>
                <height>462</height>
                <spw>7</spw>
                <sph>5</sph>
                <delay>3000</delay>
                <sdelay>30</sdelay>
                <opacity>1</opacity>
                <titlespeed>500</titlespeed>
                <effect>random</effect>
                <navigation>1</navigation>
                <hoverpause>1</hoverpause>
            </coin>
        </headerslider>
    </default>
</config>
