<?xml version="1.0"?>
<config>
    <modules>
        <Meigee_ThemeOptions>
            <version>1.0.0</version>
            <depends>
            <!-- no dependencies -->
            </depends>
        </Meigee_ThemeOptions>
    </modules> 
	<adminhtml>
        <layout>
            <updates>
                <meigeesettings>
                    <file>meigeesettings.xml</file>
                </meigeesettings>
            </updates>
        </layout>
    </adminhtml>
	<global>
		<models>
            <!-- ... -->
            <ThemeOptions>
                <class>Meigee_ThemeOptions_Model</class>
            </ThemeOptions>   
            <!-- ... -->
        </models>
	    <events>
	      <adminhtml_controller_action_predispatch_start>
	        <observers>
	          <Meigee_ThemeOptions_observer>
	            <type>singleton</type>
	            <!-- inchooadminthemecontroller/observer  -->
	            <class>Meigee_ThemeOptions_Controller_Observer</class>
	            <method>overrideTheme</method>
	          </Meigee_ThemeOptions_observer>
	        </observers>
	      </adminhtml_controller_action_predispatch_start>  
		<controller_action_layout_generate_blocks_after>
			<observers>
				<ibanner_layout_generate_observer>
					<type>singleton</type>
					<class>Meigee_ThemeOptions_Controller_Observer</class>
					<method>addLibrary</method>
				</ibanner_layout_generate_observer>
			</observers>
		</controller_action_layout_generate_blocks_after>    
	    </events>
        <helpers>
            <ThemeOptions>
                <class>Meigee_ThemeOptions_Helper</class>
            </ThemeOptions>
        </helpers>
	    <extraconfig />
	    <blocks>
	    	<meigee_themeoptions>
                    <class>Meigee_ThemeOptions_Block</class>
            </meigee_themeoptions>
            <meigee_general><class>Meigee_ThemeOptions_Block</class></meigee_general>
            <meigee_productpage><class>Meigee_ThemeOptions_Block</class></meigee_productpage>
            <meigee_sidebar><class>Meigee_ThemeOptions_Block</class></meigee_sidebar>
            <themeoptions>
                	<class>Meigee_ThemeOptions_Block</class>
	                <rewrite>
		                <bestsellers>Meigee_ThemeOptions_Block_Bestsellers</bestsellers>
		         	</rewrite>
	        </themeoptions>
		</blocks>
	</global>
	<!---->
	<default>
		<meigee_general>
			<appearance>
				<font>2</font>
				<default_sizes>1</default_sizes>
				<fontsize>14</fontsize>
				<gfont>Share</gfont>
				<lineheight>20</lineheight>
				<fontweight>400</fontweight>
				<patern>none</patern>
				<customcolors>0</customcolors>
				<sitebg>f5f5f5</sitebg>
				<maincolor>2982a3</maincolor>
				<secondcolor>5d5d5d</secondcolor>
				<thirdcolor>e2e2e2</thirdcolor>				
			</appearance>
			<layout>
				<sidebar>sidebar_right</sidebar>
				<grid>grid_standard</grid>
				<cartpage>cart_accordion</cartpage>
			</layout>
			<customlogo>
				<logo_status>0</logo_status>
			</customlogo>
			<menu>
				<type>menu_wide</type>
				<home>1</home>
			</menu>
			<otheroptions>
				<totop>1</totop>
				<labelnew>1</labelnew>
			</otheroptions>
			<lang_switcher>
				<status>language_select</status>
				<label>0</label>
			</lang_switcher>
			<curr_switcher>
				<status>currency_images</status>
				<label>0</label>
			</curr_switcher>
			<fancybox>
				<fancybox_status>1</fancybox_status>
				<fancybox_home>1</fancybox_home>
				<fancybox_listing>1</fancybox_listing>
			</fancybox>
			<rollover>
				<rollover_status>1</rollover_status>
			</rollover>
		</meigee_general>
		<meigee_productpage>
			<productpage>
				<prevnext>prevnext</prevnext>
				<moreviews>moreviews_slider</moreviews>
				<collateral>collateral_tabs</collateral>
				<collateral_related>related_slider</collateral_related>
			</productpage>
		</meigee_productpage>
		<meigee_sidebar>
			<block_categories>
				<status>1</status>
				<option>1</option>
				<option_2>1</option_2>
			</block_categories>
			<block_shop_by>
				<status>1</status>
				<option>1</option>
				<option_2>1</option_2>
			</block_shop_by>
			<block_compare>
				<status>1</status>
			</block_compare>
			<block_compared>
				<status>1</status>
			</block_compared>
			<block_viewed>
				<status>1</status>
			</block_viewed>
			<block_wishlist>
				<status>1</status>
				<option>1</option>
			</block_wishlist>
			<block_tags>
				<status>1</status>
			</block_tags>
			<block_orders>
				<status>1</status>
			</block_orders>			
		</meigee_sidebar>
	</default>
</config>
